@charset "utf8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&family=Poppins:wght@400;700&display=swap');


:root {

    --c-background: #2e2e2e;
    --c-background-light: #3d3d3d;
    --c-background-hover: #4e4e4e;
    --c-background-active: #5f5f5f;

    --c-malachite: #1dd75e;

    --c-text-light: #F5E9CF;

    --c-background-dark: #151719;
    /* --c-background: #4D455D;
    --c-background-light: #5d556d;
    --c-background-hover: #625a74;
    --c-background-active: #70697e;
    --c-principal: #E96479;
    --c-principal-light: #f88294;
    --c-secundary: #7DB9B6; */
    --c-terciary: #F5E9CF; 

}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Barlow", sans-serif;
    background: var(--c-background-dark);
    color: var(--c-terciary);
}

img {
    display: block;
    max-width: 100%;
}


.logo {
    width: 110px;
    margin-bottom: 1.25rem;
}

.app {
    display: flex;
    flex-direction: column;
    width: min(700px, 100%);
    background-color: var(--c-background);
    border: 1px solid var(--c-background-light);
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 1rem;
}




.playlist {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1px;
    overflow-Y: scroll;
    height: 350px;
}

.playlist-item {
    height: 70px;
    padding: .75rem 1.25rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    background: var(--c-background-light);
    border-radius: 2px;
}

.playlist-item:hover {
    background-color: var(--c-background-hover);
}

.playlist-item.js-active {
    background-color: var(--c-background-active);
}

.playlist-index {
    font-weight: 300;
}

.playlist-cover {
    width: 45px;
    height: 45px;
    object-fit: cover;
    background-color: #bbb;
    border-radius: 4px;
}

.playlist-title {
    flex: 0 0 200px;
    font-weight: 400;
}

.playlist-title small {
    display: block;
    font-weight: 300;
    font-size: .75rem;
    opacity: .7;
}

.playlist-genre {
    font-size: .75rem;
    text-transform: uppercase;
    color: var(--c-terciary);
}

.playlist-genre {
    flex: 0 0 100px;
}

.favorite {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.favorite::before {
    content: "\f005";
    font-family: "Font Awesome 6 Free";
    font-weight: 800;
    font-size: .9rem;
    color: transparent;
}

.playlist-item:hover .favorite:before {
    color: var(--c-background);
}

.favorite.mark::before {
    content: "\f005";
    font-family: "Font Awesome 6 Free";
    font-weight: 800;
    font-size: .9rem;
    color: var(--c-terciary) !important;
}




.player {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-block: 1.5rem;
}

.player-cover {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
    background-color: #ccc;
}

.player-body {
    display: flex;
    flex-direction: column;
    gap: .70rem;
}

.player-title {
    font-weight: 600;
}

.player-title small {
    font-weight: 400;
    display: block;
    font-weight: 300;
    font-size: .75rem;
    opacity: 0.7;
}

.player-time {
    font-size: .85rem;
}

.player-progress {
    --progress: 0;
    height: 4px;
    border-radius: 2px;
    background-color: var(--c-background-active);
    border: none;
    overflow: hidden;
    cursor: pointer;
}

.player-progress::before {
    content: '';
    display: block;
    background-color: var(--c-malachite);
    width: var(--progress);
    height: 4px;
}


.player-controls {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.control {
    background: var(--c-background-light);
    border: none;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.25rem;
    cursor: pointer;
    color: var(--c-background-dark);
}

#player-play {
    background-color: var(--c-terciary);
    width: 50px;
    height: 50px;
}

#player-play::before {
    content: "\f04b";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 1.25rem;
    translate: 2px;
}

#player-play.js-playing::before {
    content: "\f04c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 1.25rem;
    translate: 0;
}

.control:hover {
    filter: brightness(115%);
}

.control.sm {
    width: 32px;
    height: 32px;
    font-size: 12px;
    background-color: var(--c-background-active);
}

.js-active .control.sm {
    pointer-events: none;
    background-color: var(--c-background-light);
}

footer {
    font-size: .85rem;
}